.content {
  display: flex;
  margin: 10px 0;
  height: 150px;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
}

.form {
  width: 50%;
  text-align: center;
  font-size: 1.2em;
}

.form p {
  font-size: 0.8em;
}

.form input {
  margin: 0 5px;
}